
/* Darken header colour, lighten active page link*/










body, header, nav, footer {
    display: flex;
    justify-content: center;
    font-family: 'Cambria';
    background-color: #ADC8D9;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    height: 5600px;
    overflow-y: auto;
    margin-top: 20px;
    background-color: #DCEAF2;
}

.container {
    display: flex;
    flex-direction: column;
}

header {
    position: sticky;
    top: 0;
    transition: height 0.2s ease-in-out;
    align-items: center;
    height: 200px;
}

header.scrolled {
    background-color: #DCEAF2; /* Primary background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100px; /* new height when scrolled */

}

#logo {
    width: 175px; /* size when not scrolled */
    height: auto; /* to maintain aspect ratio */
    transition: 0.5s;
}

#logo.scrolled {
    width: 75px;
    height: auto;
}


button {
    cursor: pointer;
    background-color: #639CBF;
    color: #025E73;
}

h1, h5 {
    color: #0388A6;
}

h2, h4 {
    color: #ADC8D9;
    font-size: 200%;
}

h3 {
    color: #639CBF;
    font-size: 100%;
}

p {
    line-height: 25px;
    color: #025E73;
}

article {
    background-color: #DCEAF2;
    text-align: left;
    border: 3px solid #ADC8D9;
    border-radius: 10px;
    padding: 25px;
    max-width:70%;
    margin-bottom: 25px;
}

nav a {
    color: #025E73;
    font-size: 150%;
    text-align: center;
    text-decoration: none;
    float: left;
    padding: 10px 15px;
}

nav a:hover, nav a:focus {
    background-color: #ADC8D9;
    color: #0388A6;
    font-weight: bold;
}

nav.scrolled {
    background-color: #DCEAF2; /* Primary background color */
    transition: 0.5s;
}


nav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 8px;
    font-size: 12px;
}

.scroll-button {
    position: fixed;
    bottom: 2%;
    right: 2%;
    padding: 10px 20px;
}